.outterDIV{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.innerDIV{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.propositoDIV{
    display: flex;
    width: 450px;
    height: 500px;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid rgb(82, 1, 1);
    border-radius: 20px;
    padding: 15px;
}
.propositoDIV h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: rgb(87, 2, 2);
}
.propositoDIV p{
    font-size: 20px;
    color: white;  
    font-weight: 300;
    line-height: 35px; 
    line-break:auto;
    width: 100%;
}
.alignBars{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.barra{
    width: 40px;
    height: 2px;
    background: rgb(255, 255, 255);
    color: white;
}