.OutterDIV{
width:100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.catalogDIV{
    display: flex;
    width:70%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media screen and (max-width: 1040px) {
    .catalogDIV{
        width: 95%;
    }
}
@media screen and (max-width: 1040px) {
    .catalogDIV{
        width: 100%;
    }  
}