.OutterDIV{
width:100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.catalogDIV{
    display: flex;
    width:70%;
    height: 120vh;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.catalogDIV h1{
    color: rgb(210, 210, 210);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-weight: 300;
    height: 100vh;
}
@media screen and (max-width: 1040px) {
    .catalogDIV{
        width: 95%;
        height: 100%;
    }
}