.OutterDiv{
    display:flex;
    width: 100%;
    height: 95vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.SpecificOutterDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    width: 65%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: rgba(40, 40, 40, 0.35) 0px 5px 15px;
}
.SpecificDIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Atras{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -9%;
    left: -42%;
    color: #500505;
    padding: 10px 15px;
    z-index: 1;
    transition: 0.3s;
}
.Atras:hover{
    color: #ffffff;
    transition: 0.3s;
}
.SpecificInnerDIV{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    position: relative;
    top: -5%;
    width: 90%;
    height: 70%;
}
.imgDIV{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    border-radius: 5px 5px 0px 0px;
}
.imgDIV img{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
}
.Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: rgba(40, 40, 40, 0.35) 0px 5px 15px;
    border: 1px solid rgb(48, 48, 48);
    border-radius: 20px
}
.Text h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
    font-weight: 400;
    color: #730606;
}
.Text h3{
    color: rgb(221, 221, 221);
    font-weight: 400;
}
.Text p{
    text-align: center;
    width: 80%;
    color: rgb(221, 221, 221);
}
.Text ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:fit-content;
    height: 200px;
    flex-wrap: wrap;
}
.Text li{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: rgb(221, 221, 221);
}
.listColumn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Text hr{
    margin: 10px 0px;
    width: 80%;
}
.WhatsappLink{
    color: white;
    text-decoration: none;
    background-color: #730606;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.WhatsappLink:hover{
color: #730606;
background-color: white;
transition: 0.3s;
}

@media screen and (max-width: 1500px) {
.SpecificOutterDIV{
    width: 80%;
}
}
@media screen and (max-width: 1280px) {
    .SpecificOutterDIV{
        width: 90%;
    }
}
@media screen and (max-width: 1040px) {
    .OutterDiv{
        height: 140vh;
    }
    .SpecificOutterDIV{
        width: 90%;
        height: fit-content;
    }
    .SpecificInnerDIV{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 40px 0px;
        gap: 20px;
    }
    .Text{
       padding: 20px;
    }
    .imgDIV{
        width: 100%
    }
    .imgDIV img{
        width: 500px;
        height: 500px;
    }
    .Atras{
        display: flex;
        align-items: center;
        position: relative;
        top: 20px;
        left: -42%;
        color: #500505;
        padding: 10px 15px;
        z-index: 1;
        transition: 0.3s;
    }
}
@media screen and (max-width: 600px) {
    .OutterDiv{
        align-items: flex-start;
        height: 100%;
    }
    .SpecificOutterDIV{
        margin-top: 40px;
        width: 95%;
        height: fit-content;
    }
    .imgDIV img{
        width: 475;
        height: 475px;
    }
    .SpecificInnerDIV{
        width: 100%;
    }
    .Text p{
        width: 100%;
    }
    .Text hr{
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .imgDIV img{
        width: 375;
        height: 375px;
    }
    .OutterDiv{
        align-items: flex-start;
        height: 100%;
    }
}