.OutterDIV{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.OutterDIV h1{
    font-family: 'Bebas Neue', cursive;
    border-top: 2px solid rgb(99, 1, 1);
    border-bottom: 2px solid rgb(99, 1, 1);
    text-shadow: 40px solid black;
    background-color: rgb(5, 5, 5);
    color: rgb(99, 1, 1);
    width: 100%;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
}
.OutterDIV h5{
    margin-top: 30px;
    color: white;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    padding: 10px;
}
.iconsDIV{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.alignIconsAndText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.alignIconsAndText a{
    width: fit-content;
    display: flex;
    align-items: center;
}
.alignIconsAndText h5{
    width: 80%;
}